<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
</head>
<body>
<h1 style="text-align: center;">Commercial Invoice</h1>
<div class="address">
    <div style="clear: both;"></div>
    <ul style="width: 50%; float: left; list-style: none; padding-left: 0;">
        <li style="list-style: none; margin: 10px 15px 20px; padding: 5px;"><strong>Billing to: </strong>Broward Spine Institute</li>
        <li style="list-style: none; margin: 10px 15px; padding: 5px; border-bottom: 1px solid #8a8a8a;"><strong>Attn: </strong>Maria Leto</li>
        <li style="list-style: none; margin: 10px 15px; padding: 5px; border-bottom: 1px solid #8a8a8a;"><strong>Tel: </strong>9542722225</li>
        <li style="list-style: none; margin: 10px 15px; padding: 5px; border-bottom: 1px solid #8a8a8a;"><strong>Add: </strong>3702 Washington Street Suite 101 Hollywood FL 33021,United States</li>
    </ul>
    <ul style="width: 50%; float: right; list-style: none; padding-left: 0;">
        <li style="list-style: none; margin: 10px 15px 20px; padding: 5px;"><strong>Shipping to: </strong>Broward Spine Institute</li>
        <li style="list-style: none; margin: 10px 15px; padding: 5px; border-bottom: 1px solid #8a8a8a;"><strong>Attn: </strong>Maria Leto</li>
        <li style="list-style: none; margin: 10px 15px; padding: 5px; border-bottom: 1px solid #8a8a8a;"><strong>Tel: </strong>9542722225</li>
        <li style="list-style: none; margin: 10px 15px; padding: 5px; border-bottom: 1px solid #8a8a8a;"><strong>Add: </strong>3702 Washington Street Suite 101 Hollywood FL 33021,United States</li>
    </ul>
    <div style="clear: both;"></div>
</div>
<div class="order-info" style="margin: 0 20px;">
    <div style="clear: both;"></div>
    <div style="float: left;">
        <p><strong>Po No.: </strong>Order {{ order_name }}</p>
        <p><strong>Invoice No: </strong>Order #1075</p>
        <p><strong>Issue Date: </strong>{{ processed_at | date: "%b %d, %Y" }}</p>
        <p><strong>Shipping Date: </strong>{{ "now" | date: "%b %d, %Y" }}</p>
    </div>
    <div style="float: right;">
        <p><strong>Freight Term: </strong>FedEx Prepay</p>
        <p><strong>Payment Term: </strong>T/T in advance</p>
        <p><strong>FedEx.tracking#: </strong>{{ Order.successfulFulfillments }}</p>
        {% if transactions %}
            {% for attr in transactions %}
                {{ attr }}
            {% else %}
                {{ "空" }}
            {%endfor%}
        {%endif%}
        <div class="test" style="color: red">测试文本</div>
        <script type="text/javascript">
            //注意：QueryRoot根查询的blog字段，其参数handle句柄值是blog博客分类目录title标题的句柄化字符串，而不是“blog post”博客帖子的句柄值，如博客帖子https://domainname.com/blogs/myarticle/test是在myarticle博客目录中，这里应取“myarticle”，而不是“blogs/myarticle/test”。
            //1.1、直接将参数值写进来方式
            var query = `query {
                blog(handle:"myarticle") {
                    id
                    title
                    seo {
                        title
                        description
                    }
                }
            }`
            //1.2、通过变量传递参数方式
            var query = `query blog($handle:String!) {
                blog(handle:$handle) {
                    id
                    title
                    seo {
                        title
                        description
                    }
                }
            }`
            var variables = {
                handle: "myarticle"
            }

            //2.1、直接将参数值写进来方式
            var mutation = `mutation {
                customerAccessTokenCreate(
                    input: {
                        email: "felix@unimed.cn",
                        password: "0.123456"
                        }
                ){
                    customerUserErrors {
                        code
                        field
                        message
                    }
                    customerAccessToken {
                        accessToken
                        expiresAt
                    }
                }
            }`
            //2.2、通过变量传递参数方式
            var mutation = `mutation customerAccessTokenCreate($input: CustomerAccessTokenCreateInput!) {
                customerAccessTokenCreate(
                    input: $input
                ){
                    customerUserErrors {
                      code
                      field
                      message
                    }
                    customerAccessToken {
                      accessToken
                      expiresAt
                    }
                }
            }`
            var variables = {
                "input": {
                    email: "felix@unimed.cn",
                    password: "0.123456"
                }
            }
            $.ajax({
                // url: "https://pluscaremedical.com/api/2021-10/graphql.json",
                url: "https://pluscare-medical.myshopify.com/api/2021-10/graphql.json",
                type: "POST",
                // data: `query { shop { name }, variables {"id": "123"}`,
                // data: `query { customer(customerAccessToken:"ef7d05664e0ff6c27a68508d5ee6a36b") { displayName } }`,
                // data: JSON.stringify({ mutation, variables }),//对象简写方式，必须写成“{ query, variables }”
                data: JSON.stringify({ query: mutation, variables }),
                // data: query,
                processData: false,
                headers: {
                    // "Content-Type": "application/graphql",//内容内容必须为json，否则API无法成功解析。参考https://shopify.dev/api/usage/response-codes，400 Bad Request。
                    "Content-Type": "application/json",
                    "X-Shopify-Storefront-Access-Token": "9ec0d4d92b60f4ebcd8cd5f7eec5a77a"
                },
                success: function (res) {
                    console.log("成功：", res);
                },
                error: function (xhr) {
                    console.log("失败：", xhr);
                    alert("状态码：" + xhr.status);
                }
            });
/*function apiCall(query) {
    return fetch('https://pluscare-medical.myshopify.com/api/2021-10/graphql.json',
        { method: 'POST',
            headers: { 'Content-Type': 'application/graphql',
                // "Access-Control-Allow-Origin": "*",
                'X-Shopify-Storefront-Access-Token': "9ec0d4d92b60f4ebcd8cd5f7eec5a77a"
            },
            "body": query })
        .then(response => response.json()) }
// var query = JSON.stringify({ mutation });
apiCall(mutation).then(response => { console.log(response) });*/
/*const response = fetch(
    `https://pluscare-medical.myshopify.com/api/2021-10/graphql.json`,
    {
        method: "POST",
        headers: {
            "Content-Type": "application/graphql",
            "X-Shopify-Storefront-Access-Token": "9ec0d4d92b60f4ebcd8cd5f7eec5a77a"
        },
        // body: JSON.stringify({ mutation, variables }),//同样该种方式mutation无法成功解析
        body: mutation,
    },
).then((response) => response.json());
console.log(response);*/
        </script>
        <script type="text/javascript">
            const url = 'https://pluscare-medical.myshopify.com/api/2021-10/graphql.json';
            const query = `
                mutation customerCreate($input: CustomerCreateInput!) {
                    customerCreate(input: $input) {
                        userErrors {
                          field
                          message
                        }
                        customer {
                          id
                        }
                    }
                }
            `;
            //1、查询参数传递的变量对象，"variables"属性名有且只能是这个名称，测试时修改后无法成功创建customer。另外对象中属性handle没有$符合。
            //2、若邮箱已经创建，则返回的json对象虽正常而其中有userErrors:
            // {
            //     "data": {
            //     "customerCreate": {
            //         "userErrors": [
            //             {
            //                 "field": [
            //                     "input",
            //                     "email"
            //                 ],
            //                 "message": "Email has already been taken"
            //             }
            //         ],
            //             "customer": null
            //     }
            // }
            // }
            //3、当Content-Type一定要设置为“application/json”，设置为application/graphql时，即使全部语句都无语法错误也将返回errors:
            // [
            //     {
            //         "message": "Parse error on \"query\" (STRING) at [1, 2]",
            //         "locations": [
            //             {
            //                 "line": 1,
            //                 "column": 2
            //             }
            //         ]
            //     }
            // ]
            //4、当通过传递变量方式查询时（这里使用的例子是上面的query blog($handle:String!)），若语句是query blog($handle:String!) { blog(handle:"myarticle")而不是query blog($handle:String!) { blog(handle:$handle)，则将返回errors:
            // [
            //     {
            //         "message": "Variable $handle is declared by blog but not used",
            //         "locations": [
            //             {
            //                 "line": 2,
            //                 "column": 9
            //             }
            //         ],
            //         "path": [
            //             "query blog"
            //         ],
            //         "extensions": {
            //             "code": "variableNotUsed",
            //             "variableName": "handle"
            //         }
            //     }
            // ]
            //5、查询post提交的数据对象只能是“{query: query,variables: variables}”，其中的属性字段名称不能更换为其他，如{mutation: mutation,variables: variables}，否则GraphQL API无法解析，将返回如下errors:
            // {
            //     "errors": "Parameter Missing or Invalid"
            // }
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "X-Shopify-Storefront-Access-Token": "9ec0d4d92b60f4ebcd8cd5f7eec5a77a"
                },
                body: JSON.stringify({
                    query: query,
                    variables: {
                        input: {
                            email: "123@qq.com",
                            password: "0.123456"
                        }
                    },
                }),
            })
                .then(res => res.json())
                .then(res => console.log(res))
            // .catch(err => {
            //     console.log('-- gql err --')
            //     console.error(err);
            // })
        </script>
    </div>
    <div style="clear: both;"></div>
</div>
<div style="margin: 0 20px;">
    <table class="goods" style="margin: 0 auto; border: 2px solid; border-collapse: collapse;" >
        <colgroup>
            <col>
            <col span="2">
            <col span="3">
        </colgroup>
        <thead style="background-color: #888888;">
        <tr style="border-bottom: 2px solid;">
            <th style="border-right: 2px solid; padding: 10px; text-align: center;">Item</th>
            <th style="border-right: 2px solid; padding: 10px; text-align: center;">Part No.</th>
            <th style="border-right: 2px solid; padding: 10px; text-align: center;">Description</th>
            <th style="border-right: 2px solid; padding: 10px; text-align: center;">Qty</th>
            <th style="border-right: 2px solid; padding: 10px; text-align: center;">Price</th>
            <th style="padding: 10px; text-align: center;">Total in USD</th>
        </tr>
        </thead>
        <tbody>
        <tr style="border-bottom: 2px solid;">
            <td style="border-right: 2px solid; padding: 10px; text-align: center;">1</td>
            <td style="border-right: 2px solid; padding: 10px; text-align: center; white-space: nowrap;">PU410S-20</td>
            <td style="border-right: 2px solid; padding: 10px; text-align: left;">Philips Compatible Reusable SpO2 Sensor 10ft - Adult Soft</td>
            <td style="border-right: 2px solid; padding: 10px; text-align: center;">1</td>
            <td style="border-right: 2px solid; padding: 10px; text-align: center;">111.00</td>
            <td style="padding: 10px; text-align: center;">111.00</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td style="border-right: 2px solid; padding: 10px; text-align: left;"></td>
            <td style="border-right: 2px solid; padding: 10px; text-align: left;"></td>
            <td style="border-right: 2px solid; padding: 10px; text-align: left;">Total in USD</td>
            <td style="border-right: 2px solid; padding: 10px; text-align: center;">1</td>
            <td style="border-right: 2px solid; padding: 10px; text-align: left;"></td>
            <td style="padding: 10px; text-align: center;">111.00</td>
        </tr>
        </tfoot>
    </table>
</div>

<div class="auth-info" style="margin: 40px 20px 0; clear: both;">
    <p><span>510K Number: </span></p>
    <p><span>Owner Operator Number: </span></p>
    <p><span>Device Listing Number: </span></p>
    <p><span>Product Code: </span></p>
    <p><span>Establishment Registration Number: </span></p>
</div>

<hr>



<div class="ui-annotated-section"><div class="ui-annotated-section__annotation"><div class="ui-annotated-section__title"><h2 class="ui-heading">General variables</h2></div><div class="ui-annotated-section__description"><p>All of the general variables related to the order.</p></div></div><div class="ui-annotated-section__content">
    <div class="variable-reference-table">
        <table>
            <thead>
            <tr>
                <th>Variable description</th>
                <th>Variable name</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Shop name</td>
                <td><pre>{{ shop_name }}</pre></td>
            </tr>
            <tr>
                <td>Order number</td>
                <td><pre>{{ order_number }}</pre></td>
            </tr>
            <tr>
                <td>Order name <span class="note">(with # before number)</span></td>
                <td><pre>{{ order_name }} or {{ name }}</pre></td>
            </tr>
            <tr>
                <td>Date</td>
                <td><pre>{{ date }} or {{ created_at }}</pre></td>
            </tr>
            <tr>
                <td>Processed date</td>
                <td><pre>{{ processed_at }}</pre></td>
            </tr>
            <tr>
                <td>Billing address</td>
                <td><pre>{{ billing_address | format_address }}</pre></td>
            </tr>
            <tr>
                <td>Shipping address</td>
                <td><pre>{{ shipping_address | format_address }}</pre></td>
            </tr>
            <tr>
                <td>Shipping methods <span class="note">(collection of shipping lines)</span></td>
                <td><pre>{{ shipping_methods }} or {{ shipping_lines }}</pre></td>
            </tr>
            <tr>
                <td>Shipping method</td>
                <td><pre>{{ shipping_method.title }} or {{ shipping_line.title }}</pre></td>
            </tr>
            <tr>
                <td>Customer</td>
                <td><pre>{{ customer }}</pre></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><pre>{{ email }}</pre></td>
            </tr>
            <tr>
                <td>Financial status</td>
                <td><pre>{{ financial_status }}</pre></td>
            </tr>
            <tr>
                <td>Fulfillment status</td>
                <td><pre>{{ fulfillment_status }}</pre></td>
            </tr>
            <tr>
                <td>Fulfillment service</td>
                <td><pre>{{ fulfillment_service }}</pre>
                </td></tr><tr>
                <td>Discounts amount <span class="note">(collection of discount amounts)</span></td>
                <td><pre>{{ discounts_amount }}</pre></td>
            </tr>
            <tr>
                <td>Discounts savings <span class="note">(collection of discount savings)</span></td>
                <td><pre>{{ discounts_savings }}</pre></td>
            </tr>
            <tr>
                <td>Payment gateways</td>
                <td><pre>{{ gateways }}</pre></td>
            </tr>
            <tr>
                <td>Payment gateway</td>
                <td><pre>{{ gateway }}</pre></td>
            </tr>
            <tr>
            </tr><tr>
                <td>Order Currency <span class="note">(currency code of order)</span></td>
                <td><pre>{{ order_currency }} or {{ currency }}</pre></td>
            </tr>
            <tr>
                <td>Subtotal price</td>
                <td><pre>{{ subtotal_price | money }}</pre></td>
            </tr>
            <tr>
                <td>Shipping price</td>
                <td><pre>{{ shipping_price | money }}</pre></td>
            </tr>
            <tr>
                <td>Total discounts</td>
                <td><pre>{{ total_discounts | money }}</pre></td>
            </tr>
            <tr>
                <td>Total tax</td>
                <td><pre>{{ total_tax | money }} or {{ tax_price | money }}</pre></td>
            </tr>
            <tr>
                <td>Total price</td>
                <td><pre>{{ total_price | money }}</pre></td>
            </tr>
            <tr>
                <td>Total paid</td>
                <td><pre>{{ total_paid | money }}</pre></td>
            </tr>
            <tr>
                <td>Transactions</td>
                <td><pre>{{ transactions }}</pre></td>
            </tr>
            <tr>
                <td>Order attributes</td>
                <td><pre>{{ attributes }}</pre></td>
            </tr>
            <tr>
                <td>Order note</td>
                <td><pre>{{ note }}</pre></td>
            </tr>
            </tbody>
        </table>
    </div>
</div></div>
</body>
</html>